In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame

import numpy as np

### Series addtion operation

In [5]:
s1 = Series(range(1,6), index=list("abced"))
s2 = Series(range(5,11), index=list("bcedef"))

s1 + s2 # s1.add(s2)와 같음

a     NaN
b     7.0
c     9.0
d    13.0
e    11.0
e    13.0
f     NaN
dtype: float64

In [3]:
s2

b     5
c     6
e     7
d     8
e     9
f    10
dtype: int64

a     NaN
b     7.0
c     9.0
d    13.0
e    11.0
e    13.0
f     NaN
dtype: float64

### dataframe opertion

In [10]:
df1 = DataFrame(np.arange(9).reshape(3,3), columns=list("abc"))
df2 = DataFrame(np.arange(16).reshape(4,4), columns=list("abcd"))

df1.add(df2,fill_value=0)

      a     b     c     d
0   0.0   2.0   4.0   3.0
1   7.0   9.0  11.0   7.0
2  14.0  16.0  18.0  11.0
3  12.0  13.0  14.0  15.0

In [7]:
df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

      a     b     c   d
0   0.0   2.0   4.0 NaN
1   7.0   9.0  11.0 NaN
2  14.0  16.0  18.0 NaN
3   NaN   NaN   NaN NaN

### operations for dataframe with series

In [ ]:
df = DataFrame(
    np.arange(16).reshape(4,4), 
    columns=list("abcd"))
df

In [ ]:
s = Series(
    np.arange(10,14), 
    index=list("abcd"))
s

In [ ]:
df + s

In [ ]:
s2 = Series(np.arange(10,14))
s2

In [ ]:
df

In [ ]:
df + s2

In [ ]:
df.add(s2, axis=0)