In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [9]:
# Example from - https://chrisalbon.com/python/pandas_map_values_to_values.html
# raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
#         'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
#         'age': [42, 52, 36, 24, 73],
#         'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
# df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df = pd.read_csv('data.csv', encoding='cp949')
df #처음 다섯줄 출력

,연번,센터유형,센터명,운영기관,시설명,우편번호,주소,사무실전화번호
0,1,중앙/권역,코로나19 중앙 예방접종센터,국립중앙의료원,국립중앙의료원 D동,4562,서울특별시 중구 을지로 39길 29,02-2260-7114
1,2,중앙/권역,코로나19 중부권역 예방접종센터,순천향대 천안병원,천안시 실내배드민턴장 1층,31212,충청남도 천안시 동남구 천안대로 357,NaN
2,3,중앙/권역,코로나19 호남권역 예방접종센터,조선대병원,조선대학교병원 의성관 5층,61452,광주광역시 동구 필문대로 365,062-220-3739
3,4,중앙/권역,코로나19 영남권역 예방접종센터,양산 부산대병원,양산 부산대병원 기숙사동 1층,50612,경상남도 양산시 물금읍 금오로 20,055-360-6701
4,5,지역,코로나19 대구광역시 중구 예방접종센터,NaN,계명대학교 대구동산병원 별관,41931,대구시 중구 달성로 56,053-661-3955
...,...,...,...,...,...,...,...,...
279,280,지역,코로나19 충청북도 청주시 흥덕구 예방접종센터,NaN,(舊)흥덕구청,28426,충청북도 청주시 흥덕구 대농로 88,043-201-0999
280,281,지역,코로나19 경기도 파주시 예방접종센터,NaN,운정행복센터,10894,경기도 파주시 와석순환로 415,031-940-5597
281,282,지역,코로나19 경기도 남양주시 예방접종센터,NaN,화도체육문화센터,12178,경기도 남양주시 화도읍 수레로 1259,031-590-2598
282,283,지역,코로나19 경기도 시흥시 예방접종센터,NaN,시흥국민체육센터,14976,경기도 시흥시 하중로 226,031-310-6822
283,284,지역,코로나19 충청남도 당진시 예방접종센터,NaN,국민체육센터,31772,충청남도 당진시 시청1로 30,041-360-6138

In [3]:
DataFrame(raw_data, columns = ["age", "city"])

   age           city
0   42  San Francisco
1   52      Baltimore
2   36          Miami
3   24        Douglas
4   73         Boston

In [4]:
DataFrame(raw_data, 
          columns = ["first_name","last_name","age", "city", "debt"]
         )

  first_name last_name  age           city debt
0      Jason    Miller   42  San Francisco  NaN
1      Molly  Jacobson   52      Baltimore  NaN
2       Tina       Ali   36          Miami  NaN
3       Jake    Milner   24        Douglas  NaN
4        Amy     Cooze   73         Boston  NaN

In [5]:
df = DataFrame(raw_data, columns = ["first_name","last_name","age", "city", "debt"])
df.first_name

0    Jason
1    Molly
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [6]:
df["first_name"]

0    Jason
1    Molly
2     Tina
3     Jake
4      Amy
Name: first_name, dtype: object

In [ ]:
df

In [5]:
df.loc[1]

연번                             2
센터유형                       중앙/권역
센터명            코로나19 중부권역 예방접종센터
운영기관                   순천향대 천안병원
시설명               천안시 실내배드민턴장 1층
우편번호                       31212
주소         충청남도 천안시 동남구 천안대로 357
사무실전화번호                      NaN
Name: 1, dtype: object

In [6]:
df["센터명"].iloc[1:]

1              코로나19 중부권역 예방접종센터
2              코로나19 호남권역 예방접종센터
3              코로나19 영남권역 예방접종센터
4          코로나19 대구광역시 중구 예방접종센터
5         코로나19 서울특별시 성동구 예방접종센터
                 ...
279    코로나19 충청북도 청주시 흥덕구 예방접종센터
280         코로나19 경기도 파주시 예방접종센터
281        코로나19 경기도 남양주시 예방접종센터
282         코로나19 경기도 시흥시 예방접종센터
283        코로나19 충청남도 당진시 예방접종센터
Name: 센터명, Length: 283, dtype: object

In [8]:
# Example from - https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s.loc[:3]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [9]:
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [16]:
df.센터유형 == "중앙/권역"

0       True
1       True
2       True
3       True
4      False
       ...
279    False
280    False
281    False
282    False
283    False
Name: 센터유형, Length: 284, dtype: bool

In [17]:
df["debt"] = df["센터유형"] == "중앙/권역"
df

,연번,센터유형,센터명,운영기관,시설명,우편번호,주소,사무실전화번호,debt
0,1,중앙/권역,코로나19 중앙 예방접종센터,국립중앙의료원,국립중앙의료원 D동,4562,서울특별시 중구 을지로 39길 29,02-2260-7114,True
1,2,중앙/권역,코로나19 중부권역 예방접종센터,순천향대 천안병원,천안시 실내배드민턴장 1층,31212,충청남도 천안시 동남구 천안대로 357,NaN,True
2,3,중앙/권역,코로나19 호남권역 예방접종센터,조선대병원,조선대학교병원 의성관 5층,61452,광주광역시 동구 필문대로 365,062-220-3739,True
3,4,중앙/권역,코로나19 영남권역 예방접종센터,양산 부산대병원,양산 부산대병원 기숙사동 1층,50612,경상남도 양산시 물금읍 금오로 20,055-360-6701,True
4,5,지역,코로나19 대구광역시 중구 예방접종센터,NaN,계명대학교 대구동산병원 별관,41931,대구시 중구 달성로 56,053-661-3955,False
...,...,...,...,...,...,...,...,...,...
279,280,지역,코로나19 충청북도 청주시 흥덕구 예방접종센터,NaN,(舊)흥덕구청,28426,충청북도 청주시 흥덕구 대농로 88,043-201-0999,False
280,281,지역,코로나19 경기도 파주시 예방접종센터,NaN,운정행복센터,10894,경기도 파주시 와석순환로 415,031-940-5597,False
281,282,지역,코로나19 경기도 남양주시 예방접종센터,NaN,화도체육문화센터,12178,경기도 남양주시 화도읍 수레로 1259,031-590-2598,False
282,283,지역,코로나19 경기도 시흥시 예방접종센터,NaN,시흥국민체육센터,14976,경기도 시흥시 하중로 226,031-310-6822,False
283,284,지역,코로나19 충청남도 당진시 예방접종센터,NaN,국민체육센터,31772,충청남도 당진시 시청1로 30,041-360-6138,False

In [15]:
values = Series(data=["M","F","F"],index=[0,1,3])
values

0    M
1    F
3    F
dtype: object

In [16]:
df["sex"] = values
df

  first_name last_name  age           city   debt  sex
0      Jason    Miller   42  San Francisco   True    M
1      Molly  Jacobson   52      Baltimore   True    F
2       Tina       Ali   36          Miami  False  NaN
3       Jake    Milner   24        Douglas  False    F
4        Amy     Cooze   73         Boston   True  NaN

In [17]:
df.T

                        0          1      2        3       4
first_name          Jason      Molly   Tina     Jake     Amy
last_name          Miller   Jacobson    Ali   Milner   Cooze
age                    42         52     36       24      73
city        San Francisco  Baltimore  Miami  Douglas  Boston
debt                 True       True  False    False    True
sex                     M          F    NaN        F     NaN

In [18]:
df.values

array([['Jason', 'Miller', 42, 'San Francisco', True, 'M'],
       ['Molly', 'Jacobson', 52, 'Baltimore', True, 'F'],
       ['Tina', 'Ali', 36, 'Miami', False, nan],
       ['Jake', 'Milner', 24, 'Douglas', False, 'F'],
       ['Amy', 'Cooze', 73, 'Boston', True, nan]], dtype=object)

In [19]:
df.to_csv()

',first_name,last_name,age,city,debt,sex\n0,Jason,Miller,42,San Francisco,True,M\n1,Molly,Jacobson,52,Baltimore,True,F\n2,Tina,Ali,36,Miami,False,\n3,Jake,Milner,24,Douglas,False,F\n4,Amy,Cooze,73,Boston,True,\n'

In [ ]:
del df["debt"]

In [ ]:
df

In [ ]:
# Example from Python for data analyis

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

DataFrame(pop)